.playlist-section{
    color: #fff;
    width: calc(100% - 100px);
    padding: 10% 6%;
    margin-left: 100px;
    min-height: 100vh;
    position:relative;
}

.playlist-container{
    display:flex;
    flex-direction: row;
}

.playlist-image-overlay{
    
}

.playlist-left{
    text-align:center;
    /*margin-right:5%;*/
    flex-basis:30%;
}

.top-button{
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: 600;
    border: 1px solid rgb(29, 185, 84);
    background-color: rgb(29, 185, 84);
    cursor: pointer;
    border-radius: 16px;
    padding: 7px 20px;
    -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
   
    
}

.top-button:hover{
    background-color:#fff;
    color:black;
    border: 1px solid black;
}

.playlist-track-container{
    display:flex;
    flex-direction:row;
    flex-basis:100%;
}

.playlist-right-container{
    width:100%;
}

.playlist-track-des{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-basis:100%;
}

p{
    margin:0;
    padding:0;
}

.playlist-right{
    display:flex;
    flex-direction: row;
    flex-basis:70%;
    
}

.text-settings{
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-image-left{
    width:100%;
    max-width:100%;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
}

a{
    color:#fff;
}

.playlist-subtitle{
    font-size:.95rem;
    font-weight:500;
}

.playlist-image{
    margin-right:2.5%;
}

div.playlist-right-container > ul > li{
    margin-bottom: 7%;
}


div.playlist-right-container > ul > li:last-child{
    margin-bottom: 0;
}
a:hover{
    text-decoration: none;
}

.playlist-container > div {
    margin-left:6%;
}

.vertical-center{
    margin:auto 0;
}

.duration{
    font-weight:500;
    font-size:.9rem;
}

.avatar-brand{
    border-radius:5px; 
}

.playlist-title{
    font-size:1rem;
    font-weight:500;
    padding-bottom:1px;
 
    -webkit-transition: border-bottom .1s ease-in-out;
    -moz-transition: border-bottom .1s ease-in-out;
    -o-transition: border-bottom .1s ease-in-out;
    transition: border-bottom .1s ease-in-out;
}

.playlist-des-wrapper{
    min-width:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -3px;
}

.playlist-title:hover{
    border-bottom: 1px solid #fff;
    padding-bottom:0px;
}

.title-section{
    font-size:1.9rem;
    font-weight:600;   
}

.title-subtitle{
    font-size: 1.1rem;
    font-weight: 600
}

.playlist-title-container > div:last-child{
    margin-top:5%;
    margin-bottom:5%
}

.playlist-title-area > div:last-child{
    margin-top: 4%;
}


.top-button{
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size: .8rem;
    font-weight: 600;
    border: 1px solid rgb(29, 185, 84);
    background-color: rgb(29, 185, 84);
    color:#fff;
    cursor: pointer;
    border-radius: 16px;
    white-space: nowrap;
    padding: 7px 20px;
    -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
    transition: background-color .5s ease-in-out, color .5s ease-in-out, border .5s ease-in-out;
   
    
}

.top-button:hover, .top-button:focus{
    background-color: rgb(30, 215, 96);
    border: 1px solid rgb(30, 215, 96);
    color:#fff;
}






/*-----responsive-----*/
@media only screen and (max-width: 768px){
    .top-analytics-section{
        justify-content: space-around;
        flex-direction: column;
     
        margin-top: 15%;        
    }

    .search-options{
        justify-content: center;
        margin-top:5%;
    }

    .title-section{
        text-align: center;
        flex-direction:column;
    }
    
    .user-playlist-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-basis: 100%;     
    }

    .user-playlist-section:last-child{
        margin-top: 15%;   
    }

    .playlist-title-container{
        display:flex;
        flex-direction:column;
    }

    .playlist-section{
        color: #fff;
        height: calc(100% - 75px);
        margin-left:0;
        width: 100%;
        margin-bottom:25%;
        min-height: initial;   
    }

    .playlist-container{
        display:flex;
        flex-direction: column;
    }

    .playlist-image-left{
        margin:0 auto;
        width:60%;
    }

    

  

    .playlist-left{
        margin-bottom: 15%;
    }

    .playlist-title-container{
        flex-direction:column-reverse;
    }

    .playlist-title-container > div {
        margin-top:0;
        margin-bottom:3%;
    }

    .playlist-title-area > div:last-child{
        margin-top: 1%;
    }

    .top-button{
        margin-top: 7%;
    }
    

 }




