<app-menu [menuOptions]='menuOptions'></app-menu>
<div class="recentsongs-section">
    <div class="title-section">
        <span>Recently Played Tracks</span>
    </div>
    <div>
        <ul class="playlist-songs-section">
            <!--grid column-->
            <li>
                <a class="playlist-song" href="javscript(void);">
                    <span class="playlist-image">
                        <img src="https://i.scdn.co/image/ab67616d00004851f1d4fe9b36aa7be708ea44ea"
                            class="avatar-brand" alt="">
                    </span>
                    <div class="playlist-data">
                        <div class="playlist-data-des">
                            <span class="bg-white-spotify playlist-title">Cross Me (feat. Chance the Rapper
                                & PnB Rock)hjkhkjhkhkjhkhhkfdkjkljlklk</span>
                            
                            <div class="playlist-des-wrapper bg-gray-spotify"><span class="playlist-des">Cross Me (feat. Chance the
                                    Rapper & PnB Rock)jkjjkjhkjh fdsfadsfasdfasfas</span>
                            </div>
                        </div>
                        <span class="bg-gray-spotify duration">3:28</span>
                    </div>
                </a>
            </li>
            <li>
                    <a class="playlist-song">
                        <span class="playlist-image">
                            <img src="https://i.scdn.co/image/ab67616d00004851f1d4fe9b36aa7be708ea44ea"
                                class="avatar-brand" alt="">
                        </span>
                        <div class="playlist-data">
                            <div class="playlist-data-des">
                                <span class="bg-white-spotify playlist-title">Cross Me (feat. Chance the Rapper
                                    & PnB Rock)hjkhkjhkhkjhkhhkfdkjkljlklk</span>
                                
                                <div class="playlist-des-wrapper bg-gray-spotify"><span class="playlist-des">Cross Me (feat. Chance the
                                        Rapper & PnB Rock)jkjjkjhkjh fdsfadsfasdfasfas</span>
                                </div>
                            </div>
                            <span class="bg-gray-spotify duration">3:28</span>
                        </div>
                    </a>
                </li>
                

        </ul>
    </div>
</div>