<app-menu [menuOptions] = "menuOptions"></app-menu>
<div class="track-section">
    <div class="loading-section {{loadingStatus}}"><div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    <main class="track-container">
        <div class="track-left">
            <img class="track-image-left"
            src="{{trackData.albumImage}}" />
        </div>
        <div class="track-right">
            <div class="track-details">
                <h1 class="bg-white-spotify">{{trackData.trackName}}</h1>
                <h2 class="bg-gray-spotify">{{trackData.artists}}</h2>
                <h3 class="bg-gray-spotify"><a class="bg-gray-spotify" href="{{trackData.albumLink}}">{{trackData.album}}</a></h3>
            </div>
            <div class="track-button">
                <a href="{{trackData.playLink}}">
                    <span class="top-button">Play on Spotify</span>
                </a>
            </div>
        </div>
    </main>


</div>