<app-menu [menuOptions] = "menuOptions"></app-menu>
<div class="track-section">
    <main class="track-container">
        <div class="track-left">
            <img class="track-image-left"
            src="https://i.scdn.co/image/ab67616d0000b2732a92be045b40fec450358016" />
        </div>
        <div class="track-right">
            <div class="track-details">
                <h1 class="bg-white-spotify">Granted</h1>
                <h2 class="bg-gray-spotify">Josh Groban</h2>
                <h3 class="bg-gray-spotify">Bridges Deluxe (Unmapped)</h3>
            </div>
            <div class="track-button">
                <span class="top-button">Play on Spotify</span>
            </div>
        </div>
    </main>


</div>