<app-menu [menuOptions]='menuOptions'></app-menu>
<div class="playlists-section">
    <div class="loading-section {{loadingStatus}}"><div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    <div class="title-section">
        Your Top Artists
    </div>
    <div class="playlists-grid">
        <div class="playlist-item" *ngFor="let artist of topArtistsData">
            <a href="javascript:void(0);" (click)="onClickArtist(artist.id)" class="playlist-data">
                <div class="playlist-image">
                    <div class="item-overlay">
                        <i class="icon-size-link" data-feather="info"></i>
                    </div>
                    <img class="image-settings" src ="{{artist.image}}" alt="Image not found"/>   
                </div>  
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">{{artist.name}}</span>
                </div>             
            </a>         
        </div> 
    </div>
</div>