<div class="side-nav-section no-select">

    <div class="side-nav">
        <ul class="side-nav-options">
            <li id="logo" routerLink="">
                <img src="../../../assets/images/logo.png" class="avatar-brand" alt="">
            </li>
            <li class="{{menuOptions.profile}}" routerLink="/profile">
                <div class="icon-section">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="user"></i>
                            <span class="icon-des">Profile</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.playlists}}" routerLink="/playlists">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="activity"></i>
                            <span class="icon-des">Playlists</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.toptracks}}" routerLink="/toptracks">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="music"></i>
                            <span class="icon-des">Top Tracks</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.topartists}}" routerLink="/topartists">
                <div class="icon-section">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="mic"></i>
                            <span class="icon-des">Top Artists</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.recentsongs}} " routerLink="/recentsongs">
                <div class="icon-section">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="globe"></i>
                            <span class="icon-des">Recent Songs</span>
                        </span>
                    </a>
                </div>
            </li>
            <li (click) = "onLogout()">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md"  data-feather="log-out"></i>
                            <span class="icon-des">Log out</span>
                        </span>
                    </a>
                </div>
            </li>

        </ul>

    </div>

</div>
