*{
  padding: 0;
  margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box; 
}


.side-nav-section{
  width:100%;
}


ul.side-nav-options > li{
  display:block;
  flex-basis: calc(70%/5);
 
}

ul.side-nav-options > li:first-child{
  flex-basis:15%;  
}

.icon-section{
  display:flex;
  flex-basis:100%;
  height:100%;
  flex-direction:column;

}

.icon-section > a{
  margin:auto;
  text-decoration: none;
}

li{
  color:#fff;
}

a{
  color:rgb(155, 155, 155);
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

a:hover{
  color:#fff;
}


ul.side-nav-options > li{
  border-left: 4px solid rgba(255, 255, 255, .0);
  -webkit-transition: background-color .3s ease-in-out, border-left .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, border-left .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, border-left .3s ease-in-out;
  transition: background-color .3s ease-in-out, border-left .3s ease-in-out;
}

ul.side-nav-options > li:hover{
  color:rgb(255, 255, 255);
  border-left: 4px solid rgb(30, 215, 96);
  background-color: rgb(24, 24, 24);
}

#logo:hover{
  border-left: 4px solid rgba(255, 255, 255, .0);
  background-color: black;
}



.avatar-brand{
    width:5.9rem;
    height:5.9rem;
}

.icon-des{
    display: block;
    font-size: .7rem;
    letter-spacing: .5px;
}



.icon-size-md{
    width: 1.5rem;
    height: 1.5rem;
}



.side-nav{
  display: flex;
  flex-direction:row;
  height:100%;
  min-height:100vh;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
  background-color:black;
  text-align:center;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.test{
  flex-basis:100%;
  display:flex;
  flex-direction: column;
}

.test1{
  flex-basis:50%;
}

.side-nav-options{
  display:flex;
  flex-direction: column;
  flex-basis:100%;
  
}

.active{
  background-color: rgb(24, 24, 24);
  border-left: 4px solid rgb(30, 215, 96) !important;
  color: #fff;
}


  @media only screen and (max-width: 1200px){
  }




  @media only screen and (max-width: 992px) { 
   
  }
  
  /*-----responsive-----*/
@media only screen and (max-width: 768px){
  .side-nav{
      display: flex;
      flex-direction:row;
      height:75px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
      background-color:black;
      text-align:center;
      position:fixed;
      bottom: 0;
      left: 0;

      top:initial;
      min-height:initial;
      z-index:99;
    }

    

    ul.side-nav-options > li:first-child{
      display:none; 
    }

    .side-nav-options{
      flex-direction: row;    
    }

    ul.side-nav-options > li{
      display:block;
      flex-basis: 20%;
     
    }

    ul.side-nav-options > li{
      border-left:none;
      border-top: 4px solid rgba(255, 255, 255, .0);
      -webkit-transition: background-color .3s ease-in-out, border-top .3s ease-in-out;
      -moz-transition: background-color .3s ease-in-out, border-top .3s ease-in-out;
      -o-transition: background-color .3s ease-in-out, border-top .3s ease-in-out;
      transition: background-color .3s ease-in-out, border-top .3s ease-in-out;
    }
    
    ul.side-nav-options > li:hover{
      border-left:none;
      color:rgb(255, 255, 255);
      border-top: 4px solid rgb(30, 215, 96);
      background-color: rgb(24, 24, 24);
    }

    .active{
      background-color: rgb(24, 24, 24);
      border-top: 4px solid rgb(30, 215, 96) !important;
      border-left:none !important;
      color: #fff;
    }
 
    
   }
  