<div class="side-nav-section">

    <div class="side-nav">
        <ul class="side-nav-options">
            <li id="logo">
                <img src="../../../assets/images/logo.png" class="avatar-brand" alt="">
            </li>
            <li class="{{menuOptions.profile}}">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="user"></i>
                            <span class="icon-des">Profile</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.playlists}}">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="activity"></i>
                            <span class="icon-des">Playlists</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.toptracks}}">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="music"></i>
                            <span class="icon-des">Top Tracks</span>
                        </span>
                    </a>
                </div>
            </li>
            <li class="{{menuOptions.recentsongs}}">
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="globe"></i>
                            <span class="icon-des">Recent Songs</span>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-section">
                    <a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="log-out"></i>
                            <span class="icon-des">Log out</span>
                        </span>
                    </a>
                </div>
            </li>

        </ul>

    </div>

</div>


<!--<div class="wrapper collapses">
    <div class="sidemenu-options">
        <div class="top_navbar">
            <div class="hamburger">
                <img src="../../../assets/images/logo.png" class="avatar-brand" alt="">
            </div>
        </div>
    
        <div class="sidebar">
            <ul class="menuoptions">
                <li class="{{menuOptions.profile}}">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="user"></i>
                            <span class="icon-des">Profile</span>
                        </span>
                    </a>
                </li>
                <li class="{{menuOptions.playlists}}">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="activity"></i>
                            <span class="icon-des">Playlists</span>
                        </span>
                    </a></li>
                <li class="{{menuOptions.toptracks}}">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="music"></i>
                            <span class="icon-des">Top Tracks</span>
                        </span>
                    </a>
                </li>
                <li class="{{menuOptions.topartists}}">
                    <a  href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="globe"></i>
                            <span class="icon-des">Top Artists</span>
                        </span>
                    </a>
                </li>
                <li><a href="javascript:void(0);">
                        <span class="icon"><i class="icon-size-md" data-feather="log-out"></i>
                            <span class="icon-des">Log out</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


        <div id="main-container" class="main_container">
            <ng-content></ng-content>    
        </div>
    </div> -->