.navbar-transparent{
    background-color: transparent;
    color: rgb(230, 241, 255);
}

.navbar-hero{
    padding: 1% 5% 0 5%;
}

.navbar-brandcolor{
    color: rgb(230, 241, 255);
}

body{
    
}

.icon-size-md{
    width: 1.3rem;
    height: 1.3rem;
}

.dropdown-item{
    font-weight: 500;
}

.menu-text-size{
    font-size: 1.2rem;
    font-weight: 600;
    
}

.dark-green{
    color: white;
    padding-left: 28%;
    padding-right: 28%;
    background-color: #1db954 !important;
    border-color: #1db954!important;
    -webkit-transition: background-color .5s ease-in-out, border-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, border-color .5s ease-in-out;
    -o-transition: background-color  .5s ease-in-out, border-color .5s ease-in-out;
    transition: background-color .5s ease-in-out, border-color .5s ease-in-out;
}

.hero-login-area{
   height: 15rem;
   width: 15rem;
   margin-top: 8%;
}

.button-text-size{
    font-size: 1.3rem;
}


.dark-green:hover{
    background-color: #1ea14c!important;
    border-color: #1ea14c !important ;
}

.avatar{
    width:2.7rem;
    height:2.7rem;
}

.avatar-brand{
    width:4.5rem;
    height:4.5rem;
}
nav a {
    text-decoration: none;
}
.brand-title{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

.hero-background{
    background-image: url("/assets/images/herobackground.svg");
    /*position: absolute;
    z-index: -1;*/
    background-repeat: no-repeat;
  
}

.hero-section h3 {
    color: #5BCFFF;
    /*color: #1fbdff;
    color: rgb(155, 223, 252);*/
    font-size: 1.2rem;
    letter-spacing: 2.5px;
    font-weight: 200;
}

.hero-img-right{
        /*padding: 0 5%;*/
        background-repeat: no-repeat;
        background-size: contain;
        background: center;
        max-width: 100%;
        /*background-position: bottom right;*/
}


.hero-section h1 {
    color: rgb(230, 241, 255);
    font-weight: 300;
    font-size: 4.2rem;
    margin-bottom: 5%;
}

.hero-section h2 {
    color: rgb(205, 214, 226);
    padding-bottom: .5%;
    font-size: 2.20rem;
    font-weight: 100;
}

div.landing-text h2{
    font-size: 2.06rem;
    font-weight: 100;
}

.hero-section, .about-section, .projects-section {
    font-family: "Source Sans Pro",-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    padding-left: 8%;
    padding-top: 13%;
    color: rgb(230, 241, 255);
    padding-bottom: 15%;
}

/*footer section*/
footer{
    padding: 5% 5% 0 5%;
    margin-bottom: 40px;
    color:  rgb(230, 241, 255);
    font-size: 1.4rem;
}

footer p, .footerpages{
    display: inline-block;
}

.footerpages{
    float: right;
}


.footerpages a{
    text-decoration: none;
    font-weight: 200;
    color:  rgb(230, 241, 255);
    margin-left: 30px;
}

@media only screen and (max-width: 1200px){
    .button-text-size{
        font-size: 1.2rem;
    }

    .hero-section, .about-section, .projects-section {
        font-family: "Source Sans Pro",-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
        padding-left: 8%;
        padding-top: 25%;
        color: rgb(230, 241, 255);
        margin-bottom: 30%;
    }

    .hero-section h3 {
        color: #5BCFFF;
        /*color: #1fbdff;
        color: rgb(155, 223, 252);*/
        font-size: 1.2rem;
        letter-spacing: 2.5px;
        font-weight: 200;
    }
    
    
    .hero-section h1 {
        color: rgb(230, 241, 255);
        font-weight: 300;
        font-size: 3.3rem;
        margin-bottom: 5%;
    }
    
    .hero-section h2 {
        color: rgb(205, 214, 226);
        padding-top: 7%;
        padding-bottom: 7%;
        font-size: 1.8rem;
        font-weight: 100;
    }

    
}




@media only screen and (max-width: 992px) { 
    .hero-section-right{
        padding-top: 15%
    }
}




/*-----responsive-----*/
@media only screen and (max-width: 768px){
 
    .button-text-size{
        font-size: 1.2rem;
    }

    .hero-section-right{
        padding-top: 35%;
    }
    

    .hero-section, .about-section, .projects-section {
        font-family: "Source Sans Pro",-apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
        padding-left: 8%;
        padding-top: 30%;
        color: rgb(230, 241, 255);
        margin-bottom: 30%;
    }

    .hero-section h3 {
        color: #5BCFFF;
        /*color: #1fbdff;
        color: rgb(155, 223, 252);*/
        font-size: 1.2rem;
        letter-spacing: 2.5px;
        font-weight: 200;
    }
    
    
    .hero-section h1 {
        color: rgb(230, 241, 255);
        font-weight: 300;
        font-size: 3.2rem;
        margin-bottom: 5%;
    }
    
    .hero-section h2 {
        color: rgb(205, 214, 226);
        padding-top: 7%;
        padding-bottom: 7%;
        font-size: 1.7rem;
        font-weight: 100;
    }

    footer{
        text-align: center;
    }

    .footerpages{
        visibility: hidden;
    }

    footer p, .footerpages{
        display: block;
    }

}


