<app-menu [menuOptions]='menuOptions'></app-menu>
<div class="playlists-section">
    <div class="title-section">
        Your Playlists
    </div>

    <div class="playlists-grid">
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">
                <div class="playlist-image">
                    <div class="item-overlay">
                        <i class="icon-size-link" data-feather="info"></i>
                    </div>
                    <img src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                </div>  
                
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">  
                <img class="playlist-image" src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">  
                <img class="playlist-image" src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">  
                <img class="playlist-image" src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">  
                <img class="playlist-image" src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
        <div class="playlist-item">
            <a href="javascript:void(0);" class="playlist-data">  
                <img class="playlist-image" src ="https://mosaic.scdn.co/640/ab67616d0000b2733e52eda6f8625563e05112acab67616d0000b273a3e997a2838c360027b6c587ab67616d0000b273f17145f3605fcdc050453c36f97823dfbbdb7eb1d15dd13d60369cc49948f4a6"/>   
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">Locked In</span>
                    <span class="playlist-count bg-gray-spotify">20 Tracks</span>
                </div>             
            </a>         
        </div> 
    </div>
</div>