<app-menu [menuOptions]='menuOptions'></app-menu>
<div class="playlists-section">
    <div class="loading-section {{loadingStatus}}"><div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    <div class="title-section">
        Your Playlists
    </div>

    <div class="playlists-grid">
        <div class="playlist-item" *ngFor="let playlist of playlistData">
            <a href="javascript:void(0);" (click)="onClickPlaylist(playlist.playlistID)" class="playlist-data">
                <div class="playlist-image">
                    <div class="item-overlay">
                        <i class="icon-size-link" data-feather="info"></i>
                    </div>
                    <img src ="{{playlist.playlistImage}}"/>   
                </div>  
                <div class="playlist-content">
                    <span class="playlist-title bg-white-spotify">{{playlist.playlistName}}</span>
                    <span class="playlist-count bg-gray-spotify">{{playlist.totalTracks}} Tracks</span>
                </div>             
            </a>         
        </div> 
    </div>
</div>