

/* You can add global styles to this file, and also import other style files */
*{
/*border-style: solid;
border-width: 1px;
border-color: blue;*/
}

/* CircularStd @font-face kit */
@font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-Black.eot");
    src: url("./assets/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-Black.woff") format("woff"), url("./assets/fonts/CircularStd-Black.ttf") format("truetype"), url("./assets/fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-BlackItalic.eot");
    src: url("./assets/fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-BlackItalic.woff") format("woff"), url("./assets/fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("./assets/fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-Bold.eot");
    src: url("./assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-Bold.woff") format("woff"), url("./assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("./assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-BoldItalic.eot");
    src: url("./assets/fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-BoldItalic.woff") format("woff"), url("./assets/fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("./assets/fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-Medium.eot");
    src: url("./assets/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-Medium.woff") format("woff"), url("./assets/fonts/CircularStd-Medium.ttf") format("truetype"), url("./assets/fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-MediumItalic.eot");
    src: url("./assets/fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-MediumItalic.woff") format("woff"), url("./assets/fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("./assets/fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-Book.eot");
    src: url("./assets/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-Book.woff") format("woff"), url("./assets/fonts/CircularStd-Book.ttf") format("truetype"), url("./assets/fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "CircularStd";
    src: url("./assets/fonts/CircularStd-BookItalic.eot");
    src: url("./assets/fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/CircularStd-BookItalic.woff") format("woff"), url("./assets/fonts/CircularStd-BookItalic.ttf") format("truetype"), url("./assets/fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 400;
    font-style: italic;
  }
  

html{
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin: 0;
}

*:focus {
  outline: 0;
  outline: none;
}

.playlist-image{
  position:relative;
}

.item-overlay{
  display:flex;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgb(18,18,18,.7);
  opacity:0;
  z-index:10;

  -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.icon-size-link{
  width: 2.3rem;
  height: 2.3rem;
  margin:auto;
  color:gray;
}

.icon-size-playlist{
  width: 3.8rem;
  height: 3.8rem;
  margin:auto;
  color:gray;
}


.item-overlay:hover{
  opacity: 1;
}

.hide-content{
  display:none !important;
}

.loading-section{
  position: absolute;
  height:100%;
  z-index: 98;
  background-color: rgb(18,18,18);
  width: 100%;
  top:0;
  left:0;
  display:flex;
}

.bg-white-spotify{
  color:#fff;
}

.bg-gray-spotify{
  color:rgb(155, 155, 155);
}



.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 25% auto;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(30, 215, 96);
  animation: lds-grid 1.2s linear infinite;
}

.no-select{
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
-webkit-user-select: none; /* Chrome, Safari, and Opera */
-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(30, 215, 96);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



body {
    margin: 0;
    font-family: "CircularStd","Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #121212;
  }


.dropdown-toggle::after{
    content:none !important;
}

@media only screen and (max-width: 2560px){
  html{
    font-size: 18px !important;
  } 

}

@media only screen and (max-width: 2100px){
  html{
    font-size: 17px !important;
  } 

}

@media only screen and (max-width: 1800px){
  html{
    font-size: 20px !important;
  }

}

@media only screen and (max-width: 1440px){
  html{
      font-size: 15px !important;
  }
}

@media only screen and (max-width: 1200px){
  html{
    font-size: 14px !important;
  } 
}


@media only screen and (max-width: 992px) { 
  html{
    font-size:13px !important;
  }
}

/*-----responsive-----*/
@media only screen and (max-width: 768px){
  html{
    font-size:12.5px !important;
  }


 }